.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.form {
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  background-color: lightgrey;
  font-size: 1.5em;
  width: 400px;
  height: 37px;
  margin: 10px auto;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

input {
  width: 60%;
  font-size: inherit;
  border-radius: 5px;
}

.button {
  width: 100px;
  height: 30px;
  margin: 30px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
