.App {
  text-align: center;
}

.marginAdjust {
  margin: 0px 10px;
  
}

h1 {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  font-size: 1.7em;
  font-weight: normal;
}

h3 {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5em;
  font-weight: normal;
}

.active {
  font-weight: bold;
}

a:visited {
  color: green;
}

a:hover {
  color: blue;
}

table {
  border-collapse: collapse;
  margin-left: 140px;
  
}

.addPlayerMargin {
  margin-left: 300px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
